@media print{
	body{background-color:#FFFFFF; color:#000000; float: none;width:auto; }
	#info{display:none;}
	#info2{display:none;}
	.nobreak{page-break-inside: avoid;}
	pre{background-color: white;}
	.nodisplay{display:block;}
	button{display:none;}
	.dina4_4 {
/*    width: 210mm; */
    height: 140mm;
    padding: 20px 60px; 
    border: 1px solid #D2D2D2; 
    background: #fff;
    margin: 10px auto;
}
	* html pre, * html .examplecode{font-size: 90%;}
}


.nodisplay{display:none;}

fieldset{
	border:0px;
	border-top:solid 1px;
	width:20em;
}

body {
  color:#444444;
	background-color: #F5F5DC;
  font-size:12pt;
  font-family:"Tahoma", Arial, sans-serif;
}
pre{
	 font-family:"Tahoma", Arial, sans-serif;
	 font-size:12pt;
}
#contenedor{
  width: 60em;
  margin: 0 auto;
  margin-left: 16em;  
	background-color: #F5F5DC;
}
#cabecera{
	border-top: 0.1em solid navy;
	border-bottom: 0.3em solid navy;
}
#menu{
	background-color: #F5F5DC;
	float: left;	
	width:7em;
}
#contenido{
	background-color: #F5F5DC;
	float:left;
	width:50em;/*820px*/
/*	border:solid 1px; */
	padding:0.5em;
	margin-left:1em;
}
#pie{
	clear: both;
	padding: .5em 0;
	margin-top: 1em;
	border-top: 1px solid navy;
	border-bottom: 1px solid navy;
	color: #6F2522;
	font-family:Helvetica;
	font-size: 16px;
	text-align: center;
}
#enunciado{


}
.rojo{
	color:red;
}
.inv{
	display:none;
}

.clear {
	clear: both;
}

.campo{
	float:left;
	width:6em;
	font-size: medium;
	text-align:left;
}
.margen_l{
	margin-left:0.8em;
}
.consola{
	color:red;
}
.barra{
	text-align: right;
	font-size:small;
	color: #6F2522;
	background-color: olive;
}
.css_boton{
	display: inline-block;
	width:90px;
	border-bottom:#e8e8e8 solid 1px; 
	background-color:#8C846B ; 
	color:#000000;
	font-size:14px;
	padding:3px;
	margin:4px;
	text-align:center;
	cursor:pointer;

	
	-moz-border-radius: 10px;
-webkit-border-radius: 10px;

}
.medium{
	font-size:medium;
}
.small{
	font-size:x-small;
}
.large{
	font-size:large;
}
.gris1{
	color:#444444;
}
.naranja{
	color:#DD8833;
}
.naranja:hover{
	font-size:x-large;
}
.css_boton:hover{
	background-color:#96B09F ; 
}
.css_btt,.css_button{
	display: inline-block;
	width:90px;
	border-bottom:#e8e8e8 solid 1px; 
	background-color:#8C846B ; 
	color:#000000;
	font-size:14px;
	padding:3px;
	margin:4px;
	text-align:center;
	cursor:pointer;
	float:left;
	
	-moz-border-radius: 10px;
-webkit-border-radius: 10px;

}
.css_btt:hover{
	background-color:#96B09F ; 
}
.css_btt_l
{
	display: inline-block;
	width:100px;
	border-top:#e8e8e8 solid 1px; 
	border-bottom:#d8d8d8 solid 1px; 
	background-color:#8C846B ; 
	color:#000000;
	font-size:14px;
	padding:2px;
	margin:4px;
	text-align:center;
	cursor:pointer;
	float:left;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;

}
.css_btt_l:hover{
	background-color:#96B09F ; 
}
.css_bt{
	display: inline-block;
	width:90px;
	border-bottom:#667766 solid 2px; 
	background-color:#85A5CC; 
	color:#D0E4F2;
	font-size:14px;
	padding:2px;
	margin:4px;
	text-align:center;
	cursor:pointer;
	float:left;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

}
.right2{
	float:right;
}

.right{
	float:none;
}
.css_btt_r{
	display: inline-block;
	width:90px;
	border-bottom:#d8d8d8 solid 2px; 
	background-color:#8C846B; 
	color:#000000;
	font-size:14px;
	padding:2px;
	margin:4px;
	text-align:center;
	cursor:pointer;
	float:right;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
}
.css_btt_r:hover{
	background-color:#96B09F ;
	border-bottom:#3e3e3e solid 2px; 
 
}
/*Utilizado en QCreator*/
#enun1,#f_respuestas,#f_imagen1,#f_imagen2,#concepto_form,
#tema_form,#add_tema,.con,#archivo,#import,#alumno_nuevo,
#alumno_edit,#alumno_file,#concepto_edit,#respuesta_edit,
#Calificacion
{
display:none;
}
.ficha{
/* donde van las respuestas dinamicas */

  background: #A8A8A8 ;
	float:left;
	/* 	width:820px; */
	/* 	border:solid 1px; */
	padding:0.5em;
	margin-left:1em;
}
img{
	border:none;
}
li{
	margin-left:0em;

}
li.nr{
	margin-left:1.5em;
	padding:0.5em;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
ul.abclist{
	list-style: lower-latin;
	margin-left:1.5em;
	padding:0.5em;
}

#imagen1,#imagen2{
	float:left;
	padding: 0.3em;
	margin: 0.1em;
}
#info{
	width:220px;
	border-bottom:#000 solid 3px;
	background: #fff;
	color:#000;
	left:2%;
	top:1%;
	margin-left:0px;
	margin-top:10px;
	position:fixed;
	text-align: left;
  opacity:0.6;
	font-size: 20px;
}
#info2{
/* border-bottom:#000 solid 3px; */
	width:220px;
	background-color:gray;
	color:#fff;
	left:2%;
	top:14%;
	margin-right:0px;
	margin-top:10px;
	position:fixed;
	text-align: none;
  opacity:0.6;
  font-size:medium;

}
#Calificacion{
	width:220px;
	border-bottom:#000 solid 3px;
	background: #fff;
	color:#000;
	left:2%;
	top:1%;
	margin-left:0px;
	margin-top:10px;
	position:fixed;
	text-align: left;
  opacity:0.6;
	font-size:xx-large;
	margin:2px;
}


.numero{
	padding:4px;
	border:solid 2px;
	width:500px;
}
.marco{
	border:solid 1px #540606;
	padding:2px;
	margin:3px;
	float:left;
	width:20px;
	text-align:center;
}
.marco:hover{
	border:solid 1px #8C846B;
}

/*Enlaces*/
A:link { COLOR: black; TEXT-DECORATION: none }
A:active { BACKGROUND: white; COLOR: black; FONT-SIZE: 14px}
A:visited { COLOR: black; TEXT-DECORATION: none } 
A:hover { COLOR: indianred; } 
.nok{
	background:#FF6A00 ; 
}
.highlight{
	background:orange;
}
.answered{
	color:#000;
}
#cortina{
	position: fixed;
  _position: absolute;
  z-index: 60;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  _height: expression(document.body.offsetHeight + "px");
  background-color: black;
	opacity:0.9;
	filter:alpha(opacity=90);

}
#central{
    position:absolute;
    top:50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}
.centrado{
  position:absolute;
  left: 50%;
  margin-left: -100px;
}
