DirectoryIndex index.php

IndexIgnore *

#ErrorDocument 403 /webs/myapp/public/403.html  
#ErrorDocument 403 ../public/403.html  
#ErrorDocument 404 ../public/404.html  
#ErrorDocument 500 ../public/500.html  


Options +FollowSymlinks

RewriteEngine on
RewriteBase /
###########pone extension php
#RewriteCond %{REQUEST_FILENAME}\.php -f
#RewriteRule ^([^/]+)/$ $1.php
#RewriteRule ^(.*?)/?$ $1\.php
#RewriteRule ^(.*)\.html$ $1.php [R=301,L]
#RewriteRule ^(\w+)\.php$ /$1 [R=301]

 

AddType application/x-httpd-php .htm .html



# automatically corect simple speling erors
<IfModule mod_speling.c>
 CheckSpelling On
</IfModule>

# prevent viewing of a specific file
#<files monitor.php >
# order allow,deny
# deny from all
#</files>


## PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|phps|fla|psd|log|sh)$">
  Order Allow,Deny
  Deny from all
</FilesMatch>

php_value include_path ".:/usr/local/lib/php:/home/miguel/webs/myapp"
php_value session.gc_maxlifetime 90
#php_value session.save_path "/home/miguel/webs/myapp"